.logofooterIcon {
    width: 96px;
    position: relative;
    height: 96px;
    object-fit: cover;
}
.logiecielInc {
    margin: 0;
}

.logocolumn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
}
.linkcolumntitle1 {
    position: relative;
    font-size: 15px;
    line-height: 100%;
    font-weight: 600;
    white-space: pre-wrap;
}
.linkcolumn1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}
.columngroup {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
}
.footer {
    position: absolute;
    width: 100%;
    top: 5405px;
    right: 0px;
    left: 0px;
    background-color: #1f1f31;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 40px 100px 80px;
    box-sizing: border-box;
    gap: 100px;
}
.text {
    position: absolute;
    top: 14px;
    left: 29px;
    line-height: 120%;
    font-weight: 600;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 115px;
    height: 23px;
}
.button8 {
    position: absolute;
    top: 226px;
    left: 0px;
    border-radius: 15px;
    background-color: #6870f1;
    width: 173px;
    height: 54px;
    text-align: center;
}
.text1 {
    position: absolute;
    top: 114px;
    left: 0px;
    font-size: 15px;
    line-height: 156.67%;
    color: #9a9aa2;
    white-space: pre-wrap;
    display: -webkit-inline-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    width: 449px;
}
.heading11 {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 42px;
    line-height: 116.67%;
    font-weight: 600;
    font-family: Outfit;
    color: #fefefe;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 423px;
    height: 98px;
}
.container83 {
    position: absolute;
    top: 68px;
    left: 784px;
    width: 656px;
    height: 280px;
}
.image6Icon {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 6px;
    width: 718px;
    height: 454px;
    object-fit: cover;
}
.container82 {
    position: absolute;
    top: 337px;
    left: 0px;
    width: 1440px;
    height: 454px;
}
.text2 {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 120%;
    white-space: pre-wrap;
    display: -webkit-inline-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 147px;
}
.container81 {
    position: absolute;
    top: 82px;
    left: 1px;
    width: 147px;
    height: 27px;
}
.container80Icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 55px;
    height: 57px;
    object-fit: cover;
}
.container79 {
    position: absolute;
    top: 0px;
    left: 987px;
    width: 149px;
    height: 109px;
    font-size: 15px;
}
.text3 {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 120%;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 144px;
    height: 21px;
}
.container78 {
    position: absolute;
    top: 81px;
    left: 0px;
    width: 144px;
    height: 27px;
}
.container77Icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 53px;
    height: 55px;
    object-fit: cover;
}
.container76 {
    position: absolute;
    top: 0px;
    left: 743px;
    width: 144px;
    height: 108px;
    color: #bdbdc0;
}
.text4 {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 120%;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 149px;
    height: 21px;
}
.container75 {
    position: absolute;
    top: 80px;
    left: 0px;
    width: 149px;
    height: 28px;
}
.container74Icon {
    position: absolute;
    top: 0px;
    left: 2px;
    width: 54px;
    height: 55px;
    object-fit: cover;
}
.container73 {
    position: absolute;
    top: 0px;
    left: 494px;
    width: 149px;
    height: 108px;
    color: #bbbabd;
}
.container72 {
    position: absolute;
    top: 82px;
    left: 3px;
    width: 144px;
    height: 27px;
}
.container71Icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 55px;
    height: 56px;
    object-fit: cover;
}
.container70 {
    position: absolute;
    top: 0px;
    left: 246px;
    width: 148px;
    height: 109px;
    color: #b0adb3;
}
.text6 {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 120%;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 140px;
    height: 21px;
}
.container69 {
    position: absolute;
    top: 82px;
    left: 3px;
    width: 140px;
    height: 26px;
}
.container68Icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 56px;
    height: 57px;
    object-fit: cover;
}
.container67 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 146px;
    height: 108px;
    color: #b6b5bb;
}
.container66 {
    position: absolute;
    top: 95px;
    left: 152px;
    width: 1136px;
    height: 109px;
    font-size: 17px;
    color: #bebbbf;
}
.section6 {
    position: absolute;
    top: 4453px;
    left: 0px;
    background-color: #1f1f31;
    width: 1440px;
    height: 952px;
    font-size: 19px;
    color: #dbe3fd;
}
.heading10 {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 120%;
    font-weight: 600;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 303px;
    height: 92px;
}
.container64 {
    position: absolute;
    top: 157px;
    left: 209px;
    width: 303px;
    height: 61px;
}
.container63 {
    position: absolute;
    top: 0px;
    left: 571px;
    width: 718px;
    height: 342px;
    background-image: url('Container 63.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
.text7 {
    position: absolute;
    top: 14.5px;
    left: 22px;
    line-height: 120%;
    font-weight: 600;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 114px;
    height: 16px;
}
.button7 {
    position: absolute;
    top: 0px;
    left: 189px;
    background-color: #f2f4f5;
    border: 1px solid #fefefe;
    box-sizing: border-box;
    width: 158px;
    height: 51px;
}
.text8 {
    position: absolute;
    top: 14px;
    left: 23px;
    line-height: 120%;
    font-weight: 600;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 126px;
    height: 16px;
}
.button6 {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 10px;
    background-color: #272833;
    width: 172px;
    height: 50px;
    color: #d3d3d4;
}
.container62 {
    position: absolute;
    top: 178px;
    left: 0px;
    width: 347px;
    height: 51px;
    text-align: center;
}
.text9 {
    position: absolute;
    top: 96px;
    left: 0px;
    font-size: 17px;
    line-height: 152.94%;
    color: #858286;
    white-space: pre-wrap;
    display: -webkit-inline-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 434px;
}
.heading9 {
    position: absolute;
    top: 34px;
    left: 0px;
    font-size: 38px;
    line-height: 120%;
    font-weight: 600;
    font-family: Outfit;
    color: #262429;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 471px;
    height: 46px;
}
.text10 {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 16px;
    line-height: 120%;
    color: #95ade5;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 471px;
    height: 20px;
}
.container61 {
    position: absolute;
    top: 56.5px;
    left: 0px;
    width: 471px;
    height: 229px;
    text-align: left;
    font-size: 13px;
    color: #989596;
    font-family: 'DM Sans';
}
.container60 {
    position: absolute;
    top: 614px;
    left: 151px;
    width: 1289px;
    height: 342px;
}
.text11 {
    position: absolute;
    top: 134px;
    left: 38px;
    line-height: 120%;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 194.9px;
    height: 21px;
}
.text12 {
    position: absolute;
    top: 71px;
    left: 38px;
    font-size: 14px;
    line-height: 157.14%;
    color: #aeaeb7;
    white-space: pre-wrap;
    display: -webkit-inline-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 168px;
}
.text13 {
    position: absolute;
    top: 34px;
    left: 38px;
    font-size: 16px;
    line-height: 120%;
    color: #6772a7;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 194.9px;
    height: 20px;
}
.container59 {
    position: absolute;
    top: 0px;
    left: 300px;
    background-color: #343441;
    width: 258px;
    height: 183px;
}
.text14 {
    position: absolute;
    top: 133px;
    left: 31px;
    line-height: 120%;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 205.8px;
    height: 20px;
}
.text15 {
    position: absolute;
    top: 71px;
    left: 31px;
    font-size: 13px;
    line-height: 169.23%;
    color: #b1b2bb;
    white-space: pre-wrap;
    display: -webkit-inline-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 179px;
}
.text16 {
    position: absolute;
    top: 0px;
    left: 33px;
    line-height: 120%;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 172.8px;
    height: 18px;
}
.icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 26px;
    height: 23px;
    object-fit: cover;
}
.container58 {
    position: absolute;
    top: 33px;
    left: 31px;
    width: 205.8px;
    height: 24px;
    font-size: 15px;
    color: #7284b8;
}
.container57 {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 5px;
    background-color: #343441;
    width: 255px;
    height: 183px;
    font-size: 16px;
    color: #707da3;
}
.container56 {
    position: absolute;
    top: 227px;
    left: 0px;
    width: 558px;
    height: 183px;
}
.text17 {
    position: absolute;
    top: 132px;
    left: 37px;
    line-height: 120%;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 196.9px;
    height: 20px;
}
.text18 {
    position: absolute;
    top: 71px;
    left: 37px;
    font-size: 14px;
    line-height: 142.86%;
    color: #a8a8b1;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 163px;
    height: 40px;
}
.text19 {
    position: absolute;
    top: 31px;
    left: 37px;
    font-size: 17px;
    line-height: 120%;
    color: #6b6eae;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 196.9px;
    height: 21px;
}
.container55 {
    position: absolute;
    top: 0px;
    left: 300px;
    border-radius: 10px;
    background-color: #343441;
    width: 258px;
    height: 178px;
}
.text20 {
    position: absolute;
    top: 132px;
    left: 31px;
    line-height: 120%;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 205.8px;
    height: 20px;
}
.text21 {
    position: absolute;
    top: 70px;
    left: 31px;
    font-size: 13px;
    line-height: 161.54%;
    color: #acadb4;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 176px;
    height: 42px;
}
.text22 {
    position: absolute;
    top: 29px;
    left: 31px;
    line-height: 120%;
    color: #6870af;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 205.8px;
    height: 20px;
}
.container54 {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #343440;
    width: 255px;
    height: 178px;
    color: #727f9d;
}
.container53 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 558px;
    height: 178px;
    font-size: 16px;
    color: #6f789e;
}
.container52 {
    position: absolute;
    top: 94px;
    left: 730px;
    width: 558px;
    height: 410px;
}
.icon1 {
    position: absolute;
    top: 0px;
    left: 340px;
    width: 56px;
    height: 58px;
    object-fit: cover;
}
.icon2 {
    position: absolute;
    top: 0px;
    left: 226px;
    width: 58px;
    height: 55px;
    object-fit: cover;
}
.icon3 {
    position: absolute;
    top: 0px;
    left: 113px;
    width: 59px;
    height: 58px;
    object-fit: cover;
}
.icon4 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 64px;
    height: 55px;
    object-fit: cover;
}
.container51 {
    position: absolute;
    top: 218px;
    left: 0px;
    width: 396px;
    height: 58px;
}
.text23 {
    position: absolute;
    top: 123px;
    left: 0px;
    line-height: 166.67%;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 429px;
    height: 50px;
}
.heading8 {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 41px;
    line-height: 141.46%;
    font-weight: 600;
    font-family: Outfit;
    color: #fff;
    white-space: pre-wrap;
    display: -webkit-inline-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 464px;
}
.container50 {
    position: absolute;
    top: 141px;
    left: 152px;
    width: 478px;
    height: 276px;
    font-size: 15px;
    color: #a6a6ad;
}
.container49 {
    position: absolute;
    top: 7px;
    left: 0px;
    background-color: #1f212c;
    width: 1440px;
    height: 604px;
    text-align: left;
    font-size: 17px;
    color: #6e7ca6;
    font-family: 'DM Sans';
}
.section5 {
    position: absolute;
    top: 3497px;
    left: 0px;
    background-color: #fff;
    width: 1440px;
    height: 956px;
    text-align: center;
    font-size: 76px;
    color: #faeaf8;
    font-family: Outfit;
}
.image5Icon {
    align-self: stretch;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    height: 226px;
    flex-shrink: 0;
    object-fit: cover;
}
.text24 {
    width: 101px;
    position: relative;
    line-height: 176.92%;
    white-space: pre-wrap;
    display: inline-block;
    height: 41px;
    flex-shrink: 0;
}
.container47 {
    align-self: stretch;
    background-color: #fff;
    border: 1px solid #6d686a;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 15.5px 10px;
}
.imageitem {
    position: absolute;
    top: 0px;
    left: 471.98px;
    width: 208px;
    height: 303px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.text25 {
    width: 106px;
    position: relative;
    line-height: 176.92%;
    white-space: pre-wrap;
    display: inline-block;
    height: 46px;
    flex-shrink: 0;
}
.imageitem1 {
    position: absolute;
    top: 0px;
    left: 235px;
    width: 208px;
    height: 303px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.text26 {
    position: absolute;
    top: 16px;
    left: 18px;
    line-height: 169.23%;
    white-space: pre-wrap;
    display: -webkit-inline-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 118px;
}
.container45 {
    position: absolute;
    top: 226px;
    left: 0px;
    background-color: #fff;
    width: 206px;
    height: 77px;
}
.text27 {
    position: absolute;
    top: 71px;
    left: 0px;
    line-height: 120%;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 156px;
    height: 21px;
}
.text28 {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 12px;
    line-height: 158.33%;
    color: #bebfc5;
    white-space: pre-wrap;
    display: -webkit-inline-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 146px;
}
.container44 {
    position: absolute;
    top: 97px;
    left: 25px;
    width: 156px;
    height: 94px;
    font-size: 17px;
    color: #526c91;
}
.container43 {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #1f212e;
    width: 206px;
    height: 303px;
    color: #7d7b7f;
}
.container42 {
    position: absolute;
    top: 196px;
    left: 62px;
    width: 680px;
    height: 303px;
}
.heading7 {
    position: absolute;
    top: 28px;
    left: 0px;
    line-height: 120%;
    font-weight: 600;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 677px;
    height: 51px;
}
.text29 {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 13px;
    line-height: 120%;
    font-family: 'DM Sans';
    color: #817f83;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 677px;
    height: 16px;
}
.container41 {
    position: absolute;
    top: 60px;
    left: 65px;
    width: 677px;
    height: 72px;
    font-size: 42px;
    color: #262529;
    font-family: Outfit;
}
.container40 {
    position: absolute;
    top: 253px;
    left: 0px;
    border-radius: 8px;
    background-color: #fff;
    width: 779px;
    height: 545px;
}
.text30 {
    position: absolute;
    top: 10px;
    left: 16px;
    line-height: 120%;
    font-weight: 600;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 96px;
    height: 15px;
}
.button5 {
    position: absolute;
    top: 147px;
    left: 0px;
    border-radius: 5px;
    background-color: #1d1f2c;
    border: 1px solid #a2a1a2;
    box-sizing: border-box;
    width: 128px;
    height: 41px;
    text-align: center;
}
.text31 {
    position: absolute;
    top: 43px;
    left: 0px;
    font-size: 13px;
    line-height: 156.41%;
    color: #7e7e88;
    white-space: pre-wrap;
    display: -webkit-inline-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    width: 306px;
}
.text32 {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 24px;
    line-height: 120%;
    font-weight: 600;
    color: #f1f1f1;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 306px;
    height: 29px;
}
.container39 {
    position: absolute;
    top: 0px;
    left: 304px;
    width: 306px;
    height: 188px;
    font-size: 12px;
    color: #a2a1a2;
}
.container38 {
    position: absolute;
    top: 0px;
    left: 513px;
    width: 779px;
    height: 798px;
}
.text33 {
    position: absolute;
    top: 10px;
    left: 19px;
    line-height: 120%;
    font-weight: 600;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 125px;
    height: 18px;
}
.button4 {
    position: absolute;
    top: 152px;
    left: 0px;
    border-radius: 11px;
    background-color: #1d1f2c;
    border: 1px solid #b5b4b7;
    box-sizing: border-box;
    width: 163px;
    height: 41px;
    text-align: center;
}
.text34 {
    position: absolute;
    top: 88px;
    left: 0px;
    font-size: 14px;
    line-height: 135.71%;
    color: #888791;
    white-space: pre-wrap;
    display: -webkit-inline-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 312px;
}
.heading6 {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 27px;
    line-height: 151.85%;
    font-weight: 600;
    font-family: Outfit;
    color: #f7f7f8;
    white-space: pre-wrap;
    display: -webkit-inline-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 285px;
}
.container37 {
    position: absolute;
    top: 562px;
    left: 2px;
    width: 507px;
    height: 193px;
}
.text35 {
    position: absolute;
    top: 13px;
    left: 28px;
    line-height: 120%;
    font-weight: 600;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 124px;
    height: 18px;
}
.button3 {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 11px;
    background-color: #4975f0;
    width: 180px;
    height: 50px;
}
.container36 {
    position: absolute;
    top: 337px;
    left: 0px;
    width: 180px;
    height: 50px;
}
.image3Icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 511px;
    height: 289px;
    object-fit: cover;
}
.imagetextblock {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 511px;
    height: 387px;
    text-align: center;
    color: #dbedff;
}
.container35 {
    position: absolute;
    top: 58px;
    left: 0px;
    width: 511px;
    height: 755px;
    font-size: 15px;
    color: #b5b4b7;
}
.container34 {
    position: absolute;
    top: 96px;
    left: 148px;
    width: 1292px;
    height: 813px;
}
.heading5 {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 136.11%;
    font-weight: 600;
    white-space: pre-wrap;
    display: -webkit-inline-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 286px;
}
.container33 {
    position: absolute;
    top: 0px;
    left: 151px;
    width: 1138px;
    height: 95px;
    font-size: 36px;
    color: #fdfdfe;
    font-family: Outfit;
}
.section4 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 909px;
}
.group3 {
    position: absolute;
    top: 2544px;
    left: 0px;
    background-color: #1d1f2c;
    width: 1440px;
    height: 953px;
    font-size: 13px;
    color: #6d686a;
}
.image2Icon {
    align-self: stretch;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    height: 244px;
    flex-shrink: 0;
    object-fit: cover;
}
.text36 {
    width: 146px;
    position: relative;
    line-height: 120%;
    white-space: pre-wrap;
    display: inline-block;
    height: 17px;
    flex-shrink: 0;
}
.text37 {
    align-self: stretch;
    position: relative;
    font-size: 15px;
    line-height: 113.33%;
    color: #848285;
    white-space: pre-wrap;
    display: inline-block;
    height: 31px;
    flex-shrink: 0;
}
.text38 {
    width: 113px;
    position: relative;
    font-size: 13px;
    line-height: 120%;
    color: #8c8c90;
    white-space: pre-wrap;
    display: inline-block;
    height: 17px;
    flex-shrink: 0;
}
.container31 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 10px;
    gap: 9px;
}
.imageitem2 {
    position: absolute;
    top: 0px;
    left: 447.04px;
    width: 193px;
    height: 381px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 36px;
}
.text39 {
    width: 151px;
    position: relative;
    line-height: 120%;
    white-space: pre-wrap;
    display: inline-block;
    height: 22px;
    flex-shrink: 0;
}
.text40 {
    width: 228px;
    position: relative;
    font-size: 15px;
    line-height: 113.33%;
    color: #848285;
    white-space: pre-wrap;
    display: inline-block;
    height: 36px;
    flex-shrink: 0;
}
.text41 {
    width: 118px;
    position: relative;
    font-size: 13px;
    line-height: 120%;
    color: #8c8c90;
    white-space: pre-wrap;
    display: inline-block;
    height: 22px;
    flex-shrink: 0;
}
.imageitem3 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 385px;
    height: 381px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 36px;
}
.container29 {
    position: absolute;
    top: 286px;
    left: 0px;
    width: 640px;
    height: 381px;
}
.text42 {
    position: absolute;
    top: 50px;
    left: 0px;
    line-height: 146.43%;
    white-space: pre-wrap;
    display: -webkit-inline-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    width: 308px;
}
.text43 {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 24px;
    line-height: 120%;
    font-weight: 600;
    color: #f5f4f5;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 310px;
    height: 29px;
}
.container28 {
    position: absolute;
    top: 0px;
    left: 165px;
    width: 310px;
    height: 113px;
    font-size: 14px;
    color: #898992;
}
.container27 {
    position: absolute;
    top: 31px;
    left: 800px;
    width: 640px;
    height: 667px;
}
.text44 {
    position: absolute;
    top: 10.5px;
    left: 28px;
    line-height: 120%;
    font-weight: 600;
    white-space: pre-wrap;
    display: -webkit-inline-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 126px;
}
.button2 {
    position: absolute;
    top: 318px;
    left: 0px;
    border-radius: 10px;
    background-color: #4773ea;
    width: 182px;
    height: 46px;
    text-align: center;
    font-size: 13px;
}
.text45 {
    position: absolute;
    top: 196px;
    left: 0px;
    line-height: 141.67%;
    color: #8c8a8d;
    white-space: pre-wrap;
    display: -webkit-inline-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    width: 319px;
}
.heading4 {
    position: absolute;
    top: 31px;
    left: 0px;
    font-size: 44px;
    line-height: 113.64%;
    font-weight: 600;
    font-family: Outfit;
    color: #313034;
    white-space: pre-wrap;
    display: -webkit-inline-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    width: 313px;
}
.text46 {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 120%;
    color: #a5a5a7;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 682px;
    height: 20px;
}
.container26 {
    position: absolute;
    top: 82px;
    left: 18px;
    width: 682px;
    height: 364px;
    color: #cfe3fe;
}
.section3 {
    position: absolute;
    top: 52px;
    left: 0px;
    width: 1440px;
    height: 740px;
    background-image: url('Section 3.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
.group2 {
    position: absolute;
    top: 1752px;
    left: 0px;
    background-color: #1d1f2c;
    width: 1440px;
    height: 792px;
    color: #414044;
}






.text49 {
    position: absolute;
    top: 26px;
    left: 0px;
    line-height: 120%;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 232px;
    height: 16px;
}
.text50 {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 16px;
    line-height: 120%;
    color: #d6d7d9;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 232px;
    height: 20px;
}
.container21 {
    position: absolute;
    top: 70px;
    left: 870px;
    width: 232px;
    height: 46px;
}
.container20Icon {
    position: absolute;
    top: 70px;
    left: 798px;
    width: 48px;
    height: 48px;
    object-fit: cover;
}
.text51 {
    position: absolute;
    top: 27px;
    left: 0px;
    line-height: 120%;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 223px;
    height: 16px;
}
.text52 {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 17px;
    line-height: 120%;
    color: #d3d4d4;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 223px;
    height: 21px;
}
.container19 {
    position: absolute;
    top: 70px;
    left: 493px;
    width: 223px;
    height: 47px;
    color: #8c8d95;
}
.container18Icon {
    position: absolute;
    top: 70px;
    left: 424px;
    width: 46px;
    height: 47px;
    object-fit: cover;
}
.text53 {
    position: absolute;
    top: 27px;
    left: 0px;
    line-height: 120%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 225px;
    height: 16px;
}
.text54 {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 16px;
    line-height: 120%;
    color: #babbbd;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 225px;
    height: 20px;
}
.container17 {
    position: absolute;
    top: 70px;
    left: 102px;
    width: 225px;
    height: 49px;
    color: #6d6d76;
}
.container16Icon {
    position: absolute;
    top: 70px;
    left: 35px;
    width: 50px;
    height: 49px;
    object-fit: cover;
}
.container15 {
    position: absolute;
    top: 856px;
    left: 152px;
    border-radius: 11px;
    background-color: #262834;
    border: 1px solid #292b41;
    box-sizing: border-box;
    width: 1137px;
    height: 211px;
}
.text55 {
    position: absolute;
    top: 24px;
    left: 0px;
    line-height: 153.85%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 175px;
    height: 40px;
}
.text56 {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 16px;
    line-height: 120%;
    color: #bdbcc1;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 204px;
    height: 20px;
}
.container14 {
    position: absolute;
    top: 32px;
    left: 414px;
    width: 204px;
    height: 62px;
}
.container13Icon {
    position: absolute;
    top: 32px;
    left: 351px;
    width: 54px;
    height: 54px;
    object-fit: cover;
}
.text57 {
    position: absolute;
    top: 25px;
    left: 0px;
    line-height: 135.71%;
    display: -webkit-inline-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 168px;
}
.text58 {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 16px;
    line-height: 120%;
    color: #b6b5b7;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 168px;
    height: 20px;
}
.container12 {
    position: absolute;
    top: 32px;
    left: 88px;
    width: 168px;
    height: 61px;
    font-size: 14px;
    color: #818086;
}
.container11Icon {
    position: absolute;
    top: 32px;
    left: 25px;
    width: 55px;
    height: 54px;
    object-fit: cover;
}
.container10 {
    position: absolute;
    top: 603px;
    left: 153px;
    border-radius: 10px;
    background-color: #272a35;
    width: 643px;
    height: 143px;
    color: #94939a;
}
.heading2 {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 204.71%;
    font-weight: 600;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 191px;
    height: 70px;
}
.container9 {
    position: absolute;
    top: 35px;
    left: 729px;
    width: 191px;
    height: 67px;
}
.text59 {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 120%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 111px;
    height: 20px;
}
.container8 {
    position: absolute;
    top: 15px;
    left: 66px;
    width: 111px;
    height: 24px;
}
.container7Icon {
    position: absolute;
    top: 13px;
    left: 23px;
    width: 28px;
    height: 28px;
    object-fit: cover;
}
.container6 {
    position: absolute;
    top: 275px;
    left: 4px;
    border-radius: 10px;
    background-color: #fff;
    width: 204px;
    height: 54px;
}
.text60 {
    position: absolute;
    top: 153px;
    left: 0px;
    line-height: 155.56%;
    font-weight: 500;
    display: -webkit-inline-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 507px;
}
.heading1 {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 56px;
    line-height: 128.57%;
    font-weight: 600;
    font-family: Outfit;
    color: #fefdfe;
    display: -webkit-inline-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 480px;
}
.container5 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 629px;
    height: 237px;
    text-align: left;
    font-size: 18px;
    color: #cac1ea;
}
.container4 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 629px;
    height: 329px;
    text-align: center;
    font-size: 16px;
    color: #8f8b95;
    font-family: 'DM Sans';
}
.container3 {
    position: absolute;
    top: 179px;
    left: 150px;
    width: 920px;
    height: 329px;
    font-size: 34px;
    color: #edecee;
    font-family: Outfit;
}
.section1 {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 13px;
    width: 1440px;
    height: 1123px;
    background-image: url('Section 1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
.group0 {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #1d1f2c;
    width: 1440px;
    height: 1166px;
    font-size: 13px;
    color: #97979d;
}





